.card {
  width: 600px;
  height: 400px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.renderContainer {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image {
  display: block;
  margin: 0;
  box-shadow: black 0 0 15px;
}

.text {
  color: var(--white);
  text-shadow: rgb(0, 0, 0) 0 0 5px;
  align-self: center;
}

.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
